1. Buatlah program untuk menghitung pangkat 2 dari angka 1 hingga 50!

In [2]:
# Kerjakan nomor 1 di sini

for i in range (1,51):
    print(f"Pangkat 2 dari {i} adalah {i**2}")

Pangkat 2 dari 1 adalah 1
Pangkat 2 dari 2 adalah 4
Pangkat 2 dari 3 adalah 9
Pangkat 2 dari 4 adalah 16
Pangkat 2 dari 5 adalah 25
Pangkat 2 dari 6 adalah 36
Pangkat 2 dari 7 adalah 49
Pangkat 2 dari 8 adalah 64
Pangkat 2 dari 9 adalah 81
Pangkat 2 dari 10 adalah 100
Pangkat 2 dari 11 adalah 121
Pangkat 2 dari 12 adalah 144
Pangkat 2 dari 13 adalah 169
Pangkat 2 dari 14 adalah 196
Pangkat 2 dari 15 adalah 225
Pangkat 2 dari 16 adalah 256
Pangkat 2 dari 17 adalah 289
Pangkat 2 dari 18 adalah 324
Pangkat 2 dari 19 adalah 361
Pangkat 2 dari 20 adalah 400
Pangkat 2 dari 21 adalah 441
Pangkat 2 dari 22 adalah 484
Pangkat 2 dari 23 adalah 529
Pangkat 2 dari 24 adalah 576
Pangkat 2 dari 25 adalah 625
Pangkat 2 dari 26 adalah 676
Pangkat 2 dari 27 adalah 729
Pangkat 2 dari 28 adalah 784
Pangkat 2 dari 29 adalah 841
Pangkat 2 dari 30 adalah 900
Pangkat 2 dari 31 adalah 961
Pangkat 2 dari 32 adalah 1024
Pangkat 2 dari 33 adalah 1089
Pangkat 2 dari 34 adalah 1156
Pangkat 2 dari 35 adalah 1225
Pangkat 2 dari 36 adalah 1296
Pangkat 2 dari 37 adalah 1369
Pangkat 2 dari 38 adalah 1444
Pangkat 2 dari 39 adalah 1521
Pangkat 2 dari 40 adalah 1600
Pangkat 2 dari 41 adalah 1681
Pangkat 2 dari 42 adalah 1764
Pangkat 2 dari 43 adalah 1849
Pangkat 2 dari 44 adalah 1936
Pangkat 2 dari 45 adalah 2025
Pangkat 2 dari 46 adalah 2116
Pangkat 2 dari 47 adalah 2209
Pangkat 2 dari 48 adalah 2304
Pangkat 2 dari 49 adalah 2401
Pangkat 2 dari 50 adalah 2500

2. Buatlah sebuah list yang berisi daftar nama mahasiswa angkatan kalian minimal sejumlah 10 nama. Kemudian buat program pencarian menggunakan pengulangan, di mana apabila nama yang user inputkan sudah sesuai dengan isi list maka program akan berhenti dan menampilkan output "Pencarian anda sudah berakhir"

catatan: perhatikan user dapat menginputkan menggunakan baik huruf kapital maupun tidak

In [19]:
# Kerjakan nomor 2 di sini

namamahasiswa = ['Ilham','Dafa','Hanif','Raisa','Novita','Julie','Fahriza','Yusuf','Mutiara','Rafli']

while True:
    pencarian = input("Masukkan nama mahasiswa yang Anda cari: ")
    for i in namamahasiswa:
        if pencarian.lower() == i.lower():
            print("Mahasiswa atas nama " + pencarian + " ada dalam daftar.")
            break

    else:
        print("Mahasiswa atas nama " + pencarian + " tidak ada dalam daftar.")
        pengulangan = input("Apakah Anda akan melakukan pencarian nama mahasiswa lagi? (y/t): ")
        if pengulangan.lower() == "t":
            print("Pencarian Anda sudah berakhir.")
            break

Mahasiswa atas nama Hanif ada dalam daftar.
Mahasiswa atas nama jono tidak ada dalam daftar.
Mahasiswa atas nama  tidak ada dalam daftar.
Pencarian Anda sudah berakhir.

3. Disajikan list sebagai berikut

In [ ]:
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']

Robert adalah seorang penyanyi terkenal. Dia merencanakan konser world tour di tahun 2024 mendatang di berbagai negara. Dengan catatan pada bulan April dan Mei, Robert kembali ke indonesia untuk istirahat sejenak kemudian melanjutkan lagi konser. Berdasarkan kasus tersebut buatlah program pengulangannya!

In [19]:
# kerjakan nomor 3 di sini

bulan = ['Januari', 'Februari', 'Maret', 'April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
kota = ['Jakarta' , 'Kuala Lumpur', 'Bangkok', 'Seoul', 'Canada','London','Dubai','Barcelona']

i = 0
for b in bulan:
    if b in ["April", "Mei"]:
        print(f"Robert kembali ke Indonesia untuk istirahat sejenak pada bulan {b}")
        continue
    print(f"Pada bulan {b} Robert mengadakan konser di", kota[i])
    i += 1
    if i == 8:
         i = 0

Pada bulan Januari Robert mengadakan konser di Jakarta
Pada bulan Februari Robert mengadakan konser di Kuala Lumpur
Pada bulan Maret Robert mengadakan konser di Bangkok
Robert kembali ke Indonesia untuk istirahat sejenak pada bulan April
Robert kembali ke Indonesia untuk istirahat sejenak pada bulan Mei
Pada bulan Juni Robert mengadakan konser di Seoul
Pada bulan Juli Robert mengadakan konser di Canada
Pada bulan Agustus Robert mengadakan konser di London
Pada bulan September Robert mengadakan konser di Dubai
Pada bulan Oktober Robert mengadakan konser di Barcelona
Pada bulan November Robert mengadakan konser di Jakarta
Pada bulan Desember Robert mengadakan konser di Kuala Lumpur